{% extends 'base.html.twig' %}

{% block body %}
	<h1>Mot de passe oublié</h1>
	{% for message in app.flashes('danger') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
<div class="container">
	<div class="row">
		<div class="col-6 mt-5 mx-auto" >
		{{ form_start(form ,{ 'attr' :{'class' : 'form-group mx-auto' }}) }}
		{{ form_row(form.email,{ 'attr' :{'class' : 'form-control mx-auto'}}) }}
		<button type="submit" class="btn btn-primary mt-3" >Envoyer</button>
		{{ form_end(form) }}
		</div>
	</div>
</div>
{% endblock %}
