{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="homepage-parent">
		<div class="file-slogan">
			<h1 class="slogan">Pour réaliser l'impossible</h1>
		<a href="#title-section"<i class="fas fa-arrow-down">
</i></a>
		</div>
	</div>
	<h2 class="title-section" id="title-section">Tricks</h2>
	<div class="show-more-tricks">
		{% include "default/tricks-show-more.html.twig" %}

	</div>
	<div class="button-show-all">
		<a class="btn btn-light btn-redirect-tricks" href="{{path('app_ajax_default_show_more')}}">Afficher plus</a>
	</div>
{% endblock %}
