{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="homepage-parent">
		<div class="file-slogan">
			<h1 class="slogan">Pour réaliser l'impossible</h1>
			<a href="#title-section">
				<i class="fas fa-arrow-down"></i>
			</a>
		</div>
	</div>
	<h2 class="title-section" id="title-section">Tricks</h2>
	{% for message in app.flashes('error') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<div class="show-more-tricks">
		{% include "default/tricks-show-more.html.twig" %}

	</div>
	<div class="button-show-all mt-5 mb-5">
		<a class="btn btn-light btn-redirect-tricks" href="{{path('app_ajax_default_show_more')}}">Afficher plus</a>
	</div>
{% endblock %}
